{
  "env": {
    "cjs": {
      "presets": [
        "env"
      ]
    },
    "es2015": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "loose": true
          }
        ]
      ]
    }
  }
}